{% extends 'base.html.twig' %}
{% block outerBody %}

    <section class="home">
        <app-root></app-root>
        <script src="runtime.js" crossorigin="anonymous" defer></script>
        <script src="es5-polyfills.js" crossorigin="anonymous" nomodule defer></script>
        <script src="other-polyfills.js" crossorigin="anonymous" defer></script>
        <script src="scripts.js" crossorigin="anonymous" defer></script>
        <script src="main.js" crossorigin="anonymous" defer></script>

    </section>
{% endblock %}
