{#[Framadate] Notification d'un sondage : TESSSSSSSSSST#}
{% extends 'email-base.html.twig' %}
{% block content %}
    <strong>
        {{ owner.pseudo }}
    </strong>
    vient de rédiger un commentaire.
    <blockquote style="background: #dedede; padding: 1em 2em;">
        <i>
            {% autoescape %}
                {{ comment.text }}
            {% endautoescape %}
        </i>
    </blockquote>
    <br>
    Vous pouvez retrouver votre sondage avec le lien suivant :
    <br>
    {% include 'emails/partial/admin_link.html.twig' %}
    <br>
    {% include 'emails/partial/public_link.html.twig' %}

{% endblock %}
