{#[Framadate] Participation au sondage : TESSSSSSSSSST#}
{% extends 'email-base.html.twig' %}
{% block content %}
    <strong>
    {{ poll.owner.pseudo }} ,
    {{ poll.owner.email }} , </strong>
     vient de modifier votre sondage accessible au lien suivant:
    <br>
    {% include 'emails/partial/admin_link.html.twig' %}
    <br>
    lien public:
    <br>
    {% include 'emails/partial/public_link.html.twig' %}
{% endblock %}
