{% block title %}
    {% if  title is defined %}
        <h1>{{ title }}</h1>
    {% else %}
        <h1>{{ WEBSITE_NAME }} - email</h1>
    {% endif %}
    <hr>
{% endblock %}
        {% block stylesheets %}{% endblock %}

    {% block content %}
    {% endblock %}
    {% block footer %}
        {% include 'emails/footer.html.twig' %}
    {% endblock %}
